body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --greenColor:#4CAF4F;
  --darkColor:#4D4D4D;
  --textColor:#717171;
}
h1, h2, h3, h4, h5 , h6 {
  color: var(--darkColor);
  font-weight: 700;
}
body p {
  color:  var(--textColor);
}
span {
  color: var(--greenColor);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#logo{
  display: flex;
}
#logo h5 {
  text-align: center; margin:5px;
}
.navbar-nav{
  text-align: center; margin: auto; float:left;
}
.navbar{
  padding: 10px; margin-right: 14%;
}
.navbar .nav-link {
  color: black; font-weight: 500;
  transition: all ease-in-out 0.3s;
}
.navbar .nav-link:hover{
  color:var(--greenColor);
  text-decoration: underline;
}
#sliderContent{
  display:  flex; justify-content: center; align-items: center;
}
.slider-img {
  width: 40%; 
}
.slider-img img {
  width: 100%; padding: 40px;
}
#home-page{
  background-color: #eee; width: 100%; height: 100vh;
}
.text-container{
  width: 35%;
}
.btn {
  width: 180px; height: 45px; padding: 5px;
  background-color: var(--greenColor); color: #fff;
  transition: all ease-in-out 0.3s;
}
.btn:hover{
color: var(--greenColor); background-color: #fff; 
border:  solid 1px var(--greenColor);
}
#service-section , #test-section{
  text-align: center; margin: 60px;
}
.obj-cards , .logo-container{
  margin: 20px;
}
.logo-container img {
  margin: 0px 40px;
}
.obj-cards{
  display:  grid; grid-template-columns: repeat(3, 1fr);
}
.obj-cards .card{
  width: 90%; padding: 10px; ;
}
.obj-cards img {
  width: 94px; float: center; margin: auto; padding: 10px;
}
#temp-container{
  display: flex; justify-content: space-between; align-items: center; 
  width: 85%;margin: 30px;
}
.contnet{
  width: 40%; padding: 30px 0px;
}
#feature-section , #product {
  background-color: #eee;
}
#product{
  margin: 60px 0px;
}
#feature-section #container ,
#product .container
{
  display: flex; justify-content: space-between; align-items: center;
  width: 85%;
}
#product .container div {
  padding: 20px 50px;
}
.grid{
  display: grid; grid-template-columns: repeat(2,1fr);
}
.grid #box {
  width: 200px; padding: 20px;
}
#grid-cards{
  display: grid; grid-template-columns: repeat(3,1fr);

}
#grid-cards div {
  width: 330px; margin: auto;
  margin-top: 20px; margin-bottom: 40px;
  position: relative;
}
#grid-cards div img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
#grid-cards div img:hover{
  transform: translateY(-10px);
}
#grid-cards div h5 {
  background-color: #eee; padding: 20px; 
  border-radius: 10px; box-shadow: 2px 2px 3px 0px var(--darkColor);
  position:absolute; left: 20px; bottom: -70px;
  width: 87%; margin: auto;
}
#grid-cards div h5 span {
  text-decoration: underline;
}
#bottom-text div {
 text-align: center; width: 50%; padding: 30px;
}
#bottom-text{
  background-color: #eee;
}
footer {
  display:flex ; background-color:#212529;
  padding: 30px 80px;
}
footer h6 , footer p , footer h5 , footer a{
  color: #eee;
}
footer a {
  display: block; text-decoration: none; line-height: 36px;
  transition: all ease-in-out 0.3s;
}
footer a:hover {
  color: var(--greenColor);
}
footer .btn {
  width: 70px;
}
@media (max-width: 600px){
  .navbar {
    padding: 10px 5px; margin: 0px;
  }
  .navbar .nav-link{
    text-align: left;
  }
  #sliderContent{
    display:  flex; flex-direction: column-reverse;
  }
  .slider-img {
    width: 100%; 
  }
  .slider-img img {
    width: 100%; padding:30px;
  }
  .text-container{
    width: 80%;
  }
  #service-section , #test-section{
    text-align: center; margin: 40px 0px;
  }
  .logo-container{
    margin: auto;
  }
  .logo-container img {
    margin: 10px 20px;
  }
  .obj-cards{
    display:  grid; grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  .obj-cards .card{
    margin: auto;
  }
  #temp-container{
    flex-direction: column;width: 90%;
    margin: auto; padding: 10px;
  }
  #temp-container img{
    width: 100%; padding: 0%; margin: auto;
  }
  .contnet{
    width: 100%; padding: 30px 0px;
  }
  #product{
    margin: 40px 0px;
  }
  #feature-section #container ,
  #product .container
  {
    flex-direction: column;width: 100%;
  }
  #product .container div {
    padding:30px 10px;
  }
  .grid #box {
    width: 200px; padding: 10px 40px;
  }
  #feature-section #text{
    padding: 20px 10px;
  }
  #grid-cards{
    display: grid; grid-template-columns: repeat(1,1fr);
  
  }
  #grid-cards div {
    width: 300px; 
    margin: auto; 
    margin-top: 30px; margin-bottom: 60px;
  }
  #grid-cards div h5 {
    padding: 15px; 
    left: 25px; bottom: -70px;
    width: 83%; margin: auto;
  }
  #bottom-text div {
   text-align: center; width: 100%; padding: 40px 30px;
  }
  footer {
    flex-direction: column; justify-content: center; align-items: center; text-align: center;
    padding:20px;
  }
  footer div {
    margin: 10px 0px;
  }
}
@media (min-width: 600px) and (max-width: 1024px){
  footer {
    text-align: center; display: flex;
    padding:30px 10px;
  }
  footer div {
    margin:0px;
  }
  #grid-cards{
    display: grid; grid-template-columns: repeat(2,1fr);
  }
  #grid-cards div {
    width: 300px; margin: 60px 10px;
  }
  #grid-cards div h5 {
    padding: 15px; 
    left: 25px; bottom: -70px;
    width: 83%; margin: auto;
  }
  .grid #box {
    width: 200px; padding: 10px 60px;
  }
  #feature-section #text{
    padding: 20px 10px;
  }
  #product{
    margin: 60px 0px;
  }
  #feature-section #container ,
  #product .container
  {
    width: 100%;
  }
  #product .container div {
    padding: 30px 20px ;
  }
  #temp-container{
   width: 100%;margin: 30px 10px;
  }
  .contnet{
    width: 100%; padding: 30px 0px;
  }
  .navbar {
    padding: 10px 5px; margin: 0px;
  }
  .navbar .nav-link{
    text-align: left;
  }
  #sliderContent{
    display:  flex; flex-direction: column-reverse;
  }
  .slider-img {
    width: 100%; 
  }
  .slider-img img {
    width: 100%; padding:30px;
  }
  .text-container{
    width: 80%;
  }
  #home-page{
    width: 100%; height: 90vh;
  }

}
